@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .filter-grayscale-20 {
    filter: grayscale(100%);
  }
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer components {
  .btn-blue {
    @apply px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700;
  }

  .btn-white {
    @apply px-2 py-2 font-medium text-white transition-all duration-500 bg-white border border-white rounded-md bg-opacity-30 md:bg-opacity-20 md:px-4 border-opacity-40 hover:bg-white hover:bg-opacity-50 hover:border-opacity-70 text-opacity-70 hover:text-dark hover:text-opacity-95;
  }

  .btn-white-outline {
    @apply block px-5 py-2 font-medium text-white transition-all duration-300 border border-white rounded-full border-opacity-40 hover:bg-white hover:bg-opacity-10 hover:border-opacity-70 text-opacity-70 hover:text-opacity-95;
  }
}

code[class*='language-'],
pre[class*='language-'] {
  @apply leading-normal text-white !important;
}

.prose pre {
  @apply border border-t border-primary bg-primaryDark bg-opacity-10;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none border-t-0 !important;
}

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-white bg-opacity-50 border border-b-0 rounded-t border-primary bg-primaryDark;
}

.mdx-marker {
  @apply block px-4 -mx-4 border-l-4 border-blue-500 bg-gray;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-white text-opacity-50;
}

.token.punctuation {
  @apply text-blue-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator {
  @apply text-white text-opacity-90;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

.maybe-class-name {
  @apply text-yellow-400;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prose blockquote {
  @apply text-white border-l-2 border-white border-opacity-80 text-opacity-95 bg-dark2 bg-opacity-30;
}

.prose strong {
  @apply text-white;
}

.prose code {
  @apply px-1 py-1 text-white rounded-md bg-dark2 bg-opacity-80;
}

.pattern {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1445' height='560' preserveAspectRatio='none' viewBox='0 0 1445 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1445' height='560' x='0' y='0' fill='rgba(19%2c 17%2c 41%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c502.544C93.575%2c497.045%2c137.681%2c383.593%2c203.855%2c317.204C254.978%2c265.915%2c314.853%2c223.395%2c344.223%2c157.202C373.404%2c91.436%2c364.951%2c18.958%2c368.084%2c-52.923C371.984%2c-142.4%2c416.716%2c-243.13%2c364.853%2c-316.147C313.346%2c-388.663%2c206.151%2c-388.107%2c118.652%2c-404.093C39.189%2c-418.611%2c-40.332%2c-423.792%2c-118.774%2c-404.506C-199.896%2c-384.561%2c-273.695%2c-346.506%2c-337.045%2c-292.051C-408.331%2c-230.775%2c-481.664%2c-163.678%2c-504.905%2c-72.594C-529.131%2c22.349%2c-521.356%2c131.998%2c-465.852%2c212.747C-412.289%2c290.673%2c-300.148%2c292.158%2c-219.857%2c342.105C-141.229%2c391.018%2c-92.441%2c507.977%2c0%2c502.544' fill='%230f0d20'%3e%3c/path%3e%3cpath d='M1445 1018.8969999999999C1572.935 1044.734 1688.285 1172.784 1811.906 1130.9160000000002 1931.8899999999999 1090.28 1997.647 947.813 2021.9650000000001 823.491 2044.4850000000001 708.359 1959.8110000000001 604.359 1937.4270000000001 489.2 1916.53 381.692 1946.502 266.741 1894.962 170.106 1836.878 61.20100000000002 1751.847-46.93299999999999 1633.25-81.12099999999998 1514.76-115.279 1382.531-73.58600000000001 1278.321-7.655999999999949 1185.746 50.91199999999998 1162.458 170.59300000000002 1096.792 258.276 1037.262 337.76599999999996 942.298 389.024 910.729 483.183 876.212 586.137 866.831 704.705 914.389 802.322 961.624 899.275 1062.5430000000001 958.99 1162.393 999.745 1251.617 1036.163 1350.537 999.8199999999999 1445 1018.8969999999999' fill='%23171532'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1445' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
